* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
  font-family: "Montserrat", sans-serif;
}

:root {
  --Gray: #1f1f1f;
  --Gray-light: #2a2a2a;
  --Gray-dark: #121212;
}

body {
  background-color: black;
}
.container {
  padding: 8px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  color: white;
  padding-bottom: 8px;
  padding-top: 8px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: black;
}
.logo {
  width: 420px;
  text-align: left;
  padding: 1rem;
}

.small-vl {
  height: 25px;
  width: 1px;
  margin: 0 8px;
  background: white;
  opacity: 0.6;
}

.search i {
  padding: 0 1rem;
}

.search-bar {
  flex: 2;
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  padding: 0 1rem;
}

.search-bar .home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: var(--Gray);
  transition: all 0.1s;
  cursor: pointer;
}

.search-bar .home:hover {
  transform: scale(1.05);
}

.search-bar i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 1.3rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.65rem;
  border-radius: 50px;
  background-color: #1f1f1f;
  transition: 0.1s ease-in;
  cursor: pointer;
}

.search-icon {
  opacity: 0.6;
}

.search:hover .search-icon {
  opacity: 1;
}
.search:hover {
  background-color: var(--Gray-light);
  border: 0.5px solid rgba(255, 255, 255, 0.312);
}

.browse {
  transition: 0.1s;
}
.browse:hover {
  transform: scale(1.05);
}
.search input {
  font-weight: 600;
  padding: 5px;
  background-color: transparent;
  width: 380px;
}

.buttons {
  font-size: 1.1rem;
  font-weight: bold;
}

.button-style {
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: bold;
  transition: 0.1s;
  cursor: pointer;
}

.buttons .sign-in {
  background: transparent;
  color: white;
  opacity: 0.6;
}
.buttons .sign-in:hover {
  opacity: 1;
  transform: scale(1.05);
}

.buttons .log-in:hover {
  transform: scale(1.05);
}
main {
  display: flex;
  column-gap: 10px;
}
.side-bar {
  width: 600px;
  height: 100vh;
  border-radius: 10px;
  color: white;
  background-color: var(--Gray-dark);
  position: sticky;
  top: 70px;
}

.side-bar-title {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.library {
  display: flex;
  align-items: center;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.2s;
}

.library:hover {
  opacity: 1;
}
.library img {
  height: 38px;
  width: 38px;
  padding: 10px;
}
.library h3 {
  font-size: 1rem;
}
.plus-icon {
  padding: 10px;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.1s;
}

.plus-icon:hover {
  opacity: 1;
  background: var(--Gray-light);
  border-radius: 50%;
}

.sb-contents {
  height: 300px;
  overflow: auto;
}

.sb-contents::-webkit-scrollbar {
  display: none;
}
.sb-content {
  background-color: var(--Gray-light);
  border-radius: 8px;
  padding: 1rem;
  margin: 20px 8px;
}

.sb-content h4 {
  font-weight: 500;
  padding-bottom: 10px;
}
.sb-content p {
  font-size: 0.8rem;
  padding-bottom: 16px;
}

.sb-content button {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}

.sb-content button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.sb-footer {
  padding: 12px 16px;
}
.footer-content {
  width: 80%;
  margin: 16px 10px;
}
.footer-content ul {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.footer-content ul li a {
  color: white;
  font-size: 12px;
  opacity: 0.6;
}

.footer-button {
  margin: 16px 10px;
  padding: 0.5rem 1rem;
  color: white;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.583);
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
}

.footer-button:hover {
  border: 1px solid rgb(255, 255, 255);
  transform: scale(1.05);
}

.footer-button i {
  padding-right: 5px;
}
.content-bar {
  border-radius: 5px;
  width: 100%;
  height: auto;
  color: white;
  background: linear-gradient(
    #2a2a2a,
    #2a2a2a,
    #121212,
    #121212,
    #121212,
    #121212,
    #121212,
    #121212,
    #121212,
    #121212,
    #121212,
    #121212,
    #121212,
    #121212
  );
  padding-bottom: 4rem;
}

.cb-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 1rem;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
.section-title h2 {
  font-size: 1.3rem;
}
.section-title p {
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}

.section-title p:hover {
  text-decoration: underline;
}
.cards {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: ease-in 0.1s;
  position: relative;
}

.card > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.play-btn {
  position: absolute;
  bottom: 65px;
  right: 10px;
  /* display: none; */
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  transition: ease-in 0.2s;
}

.play-btn img {
  width: 65px;
}

.card:hover {
  background-color: var(--Gray-light);
}

.card:hover .play-btn {
  /* display: inline; */
  opacity: 1;
  transform: translateY(-5px);
}

.play-btn img:hover {
  transform: scale(1.05);
}

.card-info {
  margin-top: 5px;
  line-height: 1.8rem;
}

.card-info p {
  font-size: 1rem;
}

.card-info span {
  opacity: 0.6;
  font-size: 0.8rem;
}

.card-img img {
  border-radius: 5px;
}

/* Album section starts here ============== */

#albums .card-img {
  position: relative;
}
#albums .card-img img {
  width: 150px;
  height: 150px;
}

#albums .card-img .play-btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#albums .card-img .play-btn img {
  width: 65px;
  height: 65px;
}

/* Common design section starts here ============== */

.common-section-design .card {
  height: 220px;
}

.common-section-design .card-img {
  position: relative;
}
.common-section-design .card-img img {
  width: 150px;
  height: 150px;
}

.common-section-design .card-img .play-btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.common-section-design .card-img .play-btn img {
  width: 65px;
  height: 65px;
}

.common-section-design .card .card-info {
  overflow: hidden;
  line-height: 1.1rem;
}
/* Common design section ends here ============== */

.cb-footer .footer-contents {
  padding: 2rem;
}
.cb-footer table {
  width: 100%;
  line-height: 2rem;
  margin: 1.5rem 0;
}

.cb-footer table tr {
  text-align: left;
}

.cb-footer table tr td a {
  color: white;
  opacity: 0.6;
  font-size: 0.9rem;
}
.cb-footer table tr td a:hover {
  text-decoration: underline;
  opacity: 1;
}
.footer-icon {
  text-align: right;
}
.footer-icon i {
  font-size: 1.2rem;
  padding: 0.7rem;
  margin: 0.4rem;
  background-color: var(--Gray-light);
  border-radius: 50%;
}
.footer-icon i:hover {
  background-color: #6e6e6e;
}
.hr-line {
  width: 100%;
  height: 1px;
  background-color: var(--Gray-light);
  margin: 2rem 0;
}
.copyright {
  font-size: 0.8rem;
  opacity: 0.6;
}
